@import "tailwindcss";

@theme {
  --color-brand-primary: #4f46e5;
  --color-brand-secondary: #7c3aed;
  --color-brand-light: #e0e7ff;
  --color-brand-dark: #312e81;
  --animate-spin-slow: spin 3s linear infinite;
  --animate-fade-in: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
